html,
body {
  position: relative;
  height: 100%;
  background-color: red;
}

body {
  background: #eee;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  .flex-wrap{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    width: 100%;
    h2{
      position: absolute;
      top:50%;
      left:0;
    }
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background: #000;
  color: #000;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}


.swiperOne {
  height:80%;
  box-sizing: border-box;
}



.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}


